.card__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.w-100 {
    width: 100%;
}



.card {
    background-color: var(--White);
    height: auto;
    width: 70%;
    border-radius: 15px;
    box-shadow: 0px 5px 30px var(--GrayishCyan);
    padding: 2rem;
    margin-bottom: 2rem;
    overflow: hidden;
    /* Ensure no content overflows */
}

.ant-input-affix-wrapper>input.ant-input {
    text-align: end;
}


.ant-input-number-affix-wrapper input.ant-input-number-input {
    text-align: end;
    padding-right: 1rem;
    font-size: 20px;
    font-family: "Space Mono";
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.form__container {
    width: 100%;
}

.form_item:not(:first-child) {
    margin-top: 1rem;
}

.grid-item {
    padding: 1rem;
}

.grid-item:nth-child(even) {
    padding: 1rem;
    background-color: var(--VeryDarkCyan);
    border-radius: 1rem;
    color: white;
}

.error-message {
    color: lightcoral;
    float: right;
}

.input-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 5px 5px 5px 10px;
    border-radius: 5px;
}

.input-container:focus {
    border: 1px solid red;
    padding: 5px 5px 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.tip_buttons {
    width: auto;
    background-color: var(--VeryDarkCyan);
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    width: 138px;
    color: var(--White);
    cursor: pointer;
    font-size: 20px;
    transition: all ease 0.3s;

}

.tip_buttons:hover {
    color: var(--VeryDarkCyan);
    font-weight: 600 !important;
    transition: all ease 0.3s;
    background-color: var(--LightGrayishCyan);

}

.active_buttons {
    width: auto;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    width: 138px;
    cursor: pointer;
    font-size: 20px;
    transition: all ease 0.3s;
    color: var(--VeryDarkCyan);
    font-weight: 600 !important;
    transition: all ease 0.3s;
    background-color: var(--LightGrayishCyan);

}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 20px;
    font-size: 24px;
    color: var(--LightGrayishCyan);
}

.icon-container svg {
    margin-top: 10px;
}

.label {
    color: var(--DarkGrayishCyan);
}

.input-field {
    flex: 1;
    border: none;
    outline: none;
    font-size: 24px;
    text-align: end;
    width: 100%;
}

.input-field:focus {
    flex: 1;
    border: none;
    outline: none;
    font-size: 24px;
    text-align: end;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /* Add negative margin to create a gap between items */
}

/* Apply a basic style to the columns */
.column {
    box-sizing: border-box;
    text-align: center;
    width: 31.7%;
    background-color: var(--VeryDarkCyan);
    padding: 10px;
    border-radius: 5px;
    color: var(--White);
    transition: all ease 0.5s;
    cursor: pointer;

}

.column:hover {
    transition: all ease 0.5s;
    background-color: var(--LightGrayishCyan);
    color: var(--VeryDarkCyan);

}

.selected-tip {
    background-color: var(--LightGrayishCyan);
    color: var(--VeryDarkCyan);
}

.custom_input {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 31.7%;
    text-align: end;
    font-family: "Space Mono" !important;


}

/* Adjust the layout for smaller screens (e.g., mobile devices) */
@media (max-width: 767px) {
    .column {
        width: 48%;
    }

    .custom_input {
        width: 48%;
    }
}


.right-container {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    gap: 10px
        /* Add negative margin to create space between columns */
}

.right-column {
    box-sizing: border-box;
    flex: 1;
    margin: 10px;
    /* Add some gap between columns */
}

/* Adjust the layout for smaller screens (e.g., mobile) */
@media (max-width: 767px) {
    .right-container {
        flex-direction: row;
        display: flex;
        justify-content: center;
        align-items: center;
        /* Change to a column layout on smaller screens */
    }

    .right-column {
        width: 50%;
        /* Full width for columns on smaller screens */
        margin: 10px 0;
        /* Adjust margin for space between columns */
    }
}


@media (max-width: 767px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    .card__container {
        margin-top: 2rem;
    }

    .header__container {
        margin-top: 2rem;
    }

    .error-message {
        width: 100%;
    }

    .card {
        border-radius: 20px;
        padding: 1rem;
        width: 100%;
        /* Full width on mobile */
    }
}